@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


html {
    margin: 0;
    padding: 0;
    height: 200px;
    background: transparent;
}

body {
    width: 400px;
    margin: 0px;
    background: rgb(255, 130, 151);
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

.container {
    margin:0;
    padding:0;
    border:0;
    outline:0;

    width: 400px;
    height: 200px;
    min-width: 357px;
}

h1 {
    margin: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
