doctype html
html
    head
        meta(charset="utf-8")
        link()

    body
        .container
            .render
                .ball-scale-ripple-multiple#loading
                    div
                    div
                    div

                h2.url-area.invisible#shortened_url
                p.invisible#message(style="color:white;") クリップボードにコピーしました

        script(src="../popup.js")
