html {
    margin: 0;
    padding: 0;
    height: 200px;
    background: transparent;
}

body {
    width: 400px;
    margin: 0px;
    background: linear-gradient(-45deg, rgb(255, 151, 224) 0%, rgb(255, 0, 76) 100%);
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

.container {
    position: relative;
    margin:0;
    padding:0;
    border:0;
    outline:0;

    width: 400px;
    height: 200px;
    min-width: 357px;
    text-align: center;
}

.render {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.url-area {
    font-size: 2rem;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: #333;
    background: #fff;
    box-shadow: 0 0 8px rgba(196, 196, 196, 0.445);
}

h1 {
    margin: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
